.card {
  justify-content: center;
  margin: 30px;
  display: flex;
}
.img {
  height: 208px;
  width: 286px;
}

.card img {
  width: 286;
  object-fit: cover;
}
body {
  min-zoom: 100px;
}
.card {
  margin: 40px;
}
